<xml>
  <MsgType><![CDATA[image]]></MsgType>
  <Image>
    <MediaId><![CDATA[<%= @reply.mediaId %>]]</MediaId>
  </Image>
  <ToUserName><![CDATA[<%= @reply.to %>]]></ToUserName>
  <FromUserName><![CDATA[<%= @reply.from %>]]></FromUserName>
  <CreateTime><%= DateTime.to_unix(DateTime.utc_now) %></CreateTime>
</xml>
